* {
    text-align: justify;
}

html { 
    background-color: rgb(231, 231, 231);
}

a {
    color:rgb(87, 87, 87);
}

a:hover {
    color:rgb(0, 0, 0);
    
}

body {
    
    height: 100vh;
    display:block;
}

.title {
    color:rgb(87, 87, 87);
}

.container {
    display: block;
    background-color: #FFF;
    padding: 50px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 900px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}



.links {
    font-size: 0.9em;
}

.link {
    padding-right: 3px;
}

.header {
    color: rgb(204, 204, 204);
}

.company {
    font-size: 15px;;
}

.sidebartitle {
    font-size: 1.15em;
    font-weight:bold;
}
.sidebarentry {
    font-size: 0.9em;
}

.maincategory {
    font-size: 1.3em;
    font-weight:bolder;
    display:flex;
}

.maincategory::before {
    content: "";
    height: 0.3em;
    flex: 1;
    border-bottom: 1px solid;
    margin: auto;
    margin-right: 0.5rem;
}

.maincategory::after {
    content: "";
    height: 0.3em;
    flex: 1;
    border-bottom: 1px solid;
    margin: auto;
    margin-left: 0.5rem;
}


.degreetitle {
    font-size:1.1em;
    font-weight: bold;
}

.jobtitle {
    font-size: 1.1em;
    font-weight: bold;
}


.maintext {
    font-size: 1em;
}

.subtext {
    font-size:0.9em;
}